//- Copyright 2020 Square Inc.
 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
 
//-     http://www.apache.org/licenses/LICENSE-2.0
 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License. 

extends layout

block styles
  link(rel="stylesheet" href="/stylesheets/pages/customers.css")

block content
  main(class="dashboard")
    header(class="page-header")
      div(class="container")
        div(class="header-content")
          div(class="header-text")
            p(class="subtitle") CashlyPay
            h1(class="title") Telson Contractors
            p(class="title-description") Flashing management solution for contractors
    
    section(class="customers-section")
      div(class="container")
        div(class="section-header")
          h2(class="customers-list-title") Clients Profile
          div(class="section-actions")
            div(class="search-box")
              svg.icon.search-icon(viewBox="0 0 20 20")
                path(d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" fill="currentColor")
              input.search-input(type="text" placeholder="Search clients...")
            
        div(class="customers-list")
      each customer, index in customers
        div(class="customer-card")
          a(href=`/management/${locationId}/${customer.id}` class="customer-link")
            div(class="customer-content")
              div(class="customer-info-group")
                div(class="customer-name") #{customer.givenName} #{customer.familyName}
                div(class="customer-meta")
                  if customer.cards && customer.cards.length
                    div(class="card-badge card-badge--active")
                      svg.icon(width="20" height="20" viewBox="0 0 20 20")
                        path(d="M3 5a2 2 0 012-2h10a2 2 0 012 2v2H3V5zm0 4v6a2 2 0 002 2h10a2 2 0 002-2V9H3zm3 4h4m-4-2h2" stroke="currentColor" stroke-width="2" stroke-linecap="round")
                      span #{customer.cards[0].cardBrand} •••• #{customer.cards[0].last4}
                  else
                    div(class="card-badge card-badge--inactive")
                      svg.icon(width="20" height="20" viewBox="0 0 20 20")
                        path(d="M3 5a2 2 0 012-2h10a2 2 0 012 2v2H3V5zm0 4v6a2 2 0 002 2h10a2 2 0 002-2V9H3zm3 2h8" stroke="currentColor" stroke-width="2" stroke-linecap="round")
                      span No card on file
              
            div(class="customer-card__right")
              svg.icon-arrow(width="20" height="20" viewBox="0 0 20 20" fill="none")
                path(d="M7 4l6 6-6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
